<!-- HEADER TEMPLATE -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Musikult</title>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

<link rel="shortcut icon" type="image/png" href="img/icon.png">

<link rel="stylesheet" href="style/bootstrap.min.css">
<link rel="stylesheet" href="style/style.css">
<link rel="stylesheet" href="style/navbar.css">
<link rel="stylesheet" href="style/player.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sarabun:wght@600&display=swap">

<script src="https://kit.fontawesome.com/b76b69a764.js" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



